<!DOCTYPE html> 
<html lang="en">
    <head> 
        <meta charset="UTF-8"/> 
        <title>Backbone.js</title>
        <link rel="stylesheet" href="css/screen.css">
    </head>
    <body>
        <div>
            <div class="color-template">
                <input id="myPopup" type="button" class="btn-example" value="color" onclick="openLayer('layerPop',50,20)">
            </div>   
 
            <div id="rides">
                <div class="rideContainer">
                    <!-- <img src="img/INZI_01.png"/> -->
                    <ul>
                        <li>Title</li>
                        <li>Rider</li>
                        <li>Riding date</li>
                        <li>Keywords</li>
                    </ul>
                </div>
            
                <script id="rideTemplate" type="text/template">
                    <img src="<%= coverImage %>"/>
                    <ul>
                        <li><%= title %></li>
                        <li><%= rider %></li>
                        <li><%= ridingDate %></li>
                        <li><%= keywords %></li>
                    </ul>
                </script>
            </div>
        </div>
        
        <div id="layerPop">
            <div class="demoPanel">
                <div id="cpInline" aria-haspopup="true">
                    <div class="evo-pop ui-widget ui-widget-content ui-corner-all">
                        <span>
                            <table class="evo-palette">
                                <tbody>
                                    <tr>
                                        <th colspan="10" class="ui-widget-content">테마 색</th>
                                    </tr>
                                    <tr>
                                        <td style="background-color:#ffffff"><span></span></td>
                                        <td style="background-color:#000000"><span></span></td>
                                        <td style="background-color:#eeece1"><span></span></td>
                                        <td style="background-color:#1f497d"><span></span></td>
                                        <td style="background-color:#4f81bd"><span></span></td>
                                        <td style="background-color:#c0504d"><span></span></td>
                                        <td style="background-color:#9bbb59"><span></span></td>
                                        <td style="background-color:#8064a2"><span></span></td>
                                        <td style="background-color:#4bacc6"><span></span></td>
                                        <td style="background-color:#f79646"><span></span></td>
                                    </tr>
                                    <tr>
                                        <th colspan="10"></th>
                                    </tr>
                                    <tr class="top">
                                        <td style="background-color:#f2f2f2"><span></span></td>
                                        <td style="background-color:#7f7f7f"><span></span></td>
                                        <td style="background-color:#ddd9c3"><span></span></td>
                                        <td style="background-color:#c6d9f0"><span></span></td>
                                        <td style="background-color:#dbe5f1"><span></span></td>
                                        <td style="background-color:#f2dcdb"><span></span></td>
                                        <td style="background-color:#ebf1dd"><span></span></td>
                                        <td style="background-color:#e5e0ec"><span></span></td>
                                        <td style="background-color:#dbeef3"><span></span></td>
                                        <td style="background-color:#fdeada"><span></span></td>
                                    </tr>
                                    <tr class="in">
                                        <td style="background-color:#d8d8d8"><span></span></td>
                                        <td style="background-color:#595959"><span></span></td>
                                        <td style="background-color:#c4bd97"><span></span></td>
                                        <td style="background-color:#8db3e2"><span></span></td>
                                        <td style="background-color:#b8cce4"><span></span></td>
                                        <td style="background-color:#e5b9b7"><span></span></td>
                                        <td style="background-color:#d7e3bc"><span></span></td>
                                        <td style="background-color:#ccc1d9"><span></span></td>
                                        <td style="background-color:#b7dde8"><span></span></td>
                                        <td style="background-color:#fbd5b5"><span></span></td>
                                    </tr>
                                    <tr class="in">
                                        <td style="background-color:#bfbfbf"><span></span></td>
                                        <td style="background-color:#3f3f3f"><span></span></td>
                                        <td style="background-color:#938953"><span></span></td>
                                        <td style="background-color:#548dd4"><span></span></td>
                                        <td style="background-color:#95b3d7"><span></span></td>
                                        <td style="background-color:#d99694"><span></span></td>
                                        <td style="background-color:#c3d69b"><span></span></td>
                                        <td style="background-color:#b2a2c7"><span></span></td>
                                        <td style="background-color:#92cddc"><span></span></td>
                                        <td style="background-color:#fac08f"><span></span></td>
                                    </tr>
                                    <tr class="in">
                                        <td style="background-color:#a5a5a5"><span></span></td>
                                        <td style="background-color:#262626"><span></span></td>
                                        <td style="background-color:#494429"><span></span></td>
                                        <td style="background-color:#17365d"><span></span></td>
                                        <td style="background-color:#366092"><span></span></td>
                                        <td style="background-color:#953734"><span></span></td>
                                        <td style="background-color:#76923c"><span></span></td>
                                        <td style="background-color:#5f497a"><span></span></td>
                                        <td style="background-color:#31859b"><span></span></td>
                                        <td style="background-color:#e36c09"><span></span></td>
                                    </tr>
                                    <tr class="bottom">
                                        <td style="background-color:#7f7f7f"><span></span></td>
                                        <td style="background-color:#0c0c0c"><span></span></td>
                                        <td style="background-color:#1d1b10"><span></span></td>
                                        <td style="background-color:#0f243e"><span></span></td>
                                        <td style="background-color:#244061"><span></span></td>
                                        <td style="background-color:#632423"><span></span></td>
                                        <td style="background-color:#4f6128"><span></span></td>
                                        <td style="background-color:#3f3151"><span></span></td>
                                        <td style="background-color:#205867"><span></span></td>
                                        <td style="background-color:#974806"><span></span></td>
                                    </tr>
                                    <tr>
                                        <th colspan="10" class="ui-widget-content">표준 색</th>
                                    </tr>
                                    <tr>
                                        <td style="background-color:#c00000"><span></span></td>
                                        <td style="background-color:#ff0000"><span></span></td>
                                        <td style="background-color:#ffc000"><span></span></td>
                                        <td style="background-color:#ffff00"><span></span></td>
                                        <td style="background-color:#92d050"><span></span></td>
                                        <td style="background-color:#00b050"><span></span></td>
                                        <td style="background-color:#00b0f0"><span></span></td>
                                        <td style="background-color:#0070c0"><span></span></td>
                                        <td style="background-color:#002060"><span></span></td>
                                        <td style="background-color:#7030a0"><span></span></td>
                                    </tr>
                                    <tr>
                                        <th colspan="10" class="ui-widget-content">최근에 사용한 색</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </tbody>
                            </table>
                        </span>
                        
                        <div class="evo-color" style="float:left">
                            <div style="background-color:#92cddc" class="">
                            </div><span>#92cddc</span>
                        </div>
                        <div class="evo-color" style="float:left">
                            <div style="background-color:#5f497a" class="">
                            </div>
                            <span>#5f497a</span>
                        </div>
                    </div>
                </div>
          
                
            </div>
                    
            <a href="#" onclick="closeLayer('layerPop')" class="close">close</a>
        </div>


        <script src="js/node_modules/jquery/dist/jquery.js"></script>
        <script src="js/node_modules/underscore/underscore.js"></script>
        <script src="js/node_modules/backbone/backbone.js"></script>
        <script src="js/ride.js"></script>
        <script src="js/popup.js"></script>

    </body>
</html>
